html {
  height: 100%;
  overflow: hidden;
}
body {
  background: #2E2633;
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Hind', sans-serif;
  font-width: 500;
}


#navbar {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
  background: #DCE9BE; /*change*/
  text-align: right;
  color: #555152; /* change*/
  width: auto;
  height: auto;
  /*display: block;*/
  font-family: 'Hind', sans-serif;
  font-width: 500;
}

/*Parallax Code--please do not touch*/
h1 {
   font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}


.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: white;
  text-shadow: 0 2px 2px #000;
}
/*Star of About US*/
#title {
  background-image: url("https://timedotcom.files.wordpress.com/2014/05/syrian-refugees-turkey-2.jpg?quality=75&strip=color&w=1100");
  background-attachment: fixed;  
}

#slide1:before {
  background-image: url("http://www.milwaukeejewish.org/wp-content/uploads/2015/09/syrianRefugees-Bulgaria.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
  background-image: url("http://i.cbc.ca/1.3338163.1448664915!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_620/syrian-father-and-son-at-refugee-camp.jpg");
  background-attachment: fixed;
}

#slide3:before {
  background-image: url("http://i.cbc.ca/1.3215851.1441381460!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_620/syrian-refugee-crisis.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background: #222;
}
/*End of About Us*/
/*Start of Resources*/
#Resources {
<<<<<<< HEAD
  background-image: url("http://codecondo.com/wp-content/uploads/2014/04/5-Coding-Challenges-to-Help-You-Train-Your-Brain.jpg");
=======
<<<<<<< HEAD
  background-image: url("http://www.youthdigital.com/sca-dev-denali/img/category-Coding.png");
=======
  background-image: url("http://edu.stemjobs.com/wp-content/uploads/2015/05/coding.jpg");
>>>>>>> e6fc0c6c04a245ee26df19efbd89f07cc6ea2281
>>>>>>> 2d15c136f84a4fff45b8b7a119a46727c612391b
  background-attachment: fixed;  
}

#AmnestyInt:before {
  background-image: url("http://musicaction.org/wp-content/uploads/2015/04/loring-amnesty-international-logo.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#SavetheChildren {
  background-image: url("http://whitebearmusic.net/wp-content/uploads/2014/09/Save-the-Children_0.jpg");
  background-attachment: fixed;
}

#IRC:before {
  background-image: url("http://www.jobimu.com/wp-content/uploads/2016/05/International-Rescue-Committee.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background: #222;
}
/*End of Resources code*/

.logo1 {
  display: inline;
  padding-left: 8%;
  width: auto;
}

.logo2{
  display:block;
  padding-left:20%;
}

.logodos {
  padding-right: 12%;
  width: auto;
    display: inline;
}

#oxfam {
    width:auto;
    display: inline;
}

a:link {
  text-decoration: none;
  color: #555152;
}

a:visited {
  color: #555152;
}

.wrapper {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: 75px;
    margin-right: 15px;
        margin-top: 50px;
}

.right {float: center !important;}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 90%;
    margin: 20px;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url(https://www.worldvision.org/core2/sites/default/files/styles/prime_carousel_image/public/d220-0244-168_710972.jpg);
 ;}
.bg-two {background-image: url(http://fair.org/wp-content/uploads/2015/09/Syrian-refugees-landing.jpg);}
.bg-three {background-image: url(http://i.dailymail.co.uk/i/pix/2014/12/25/2442A63A00000578-2887019-image-m-20_1419525768194.jpg);}
.bg-four {background-image: url(http://i.dailymail.co.uk/i/pix/2014/12/25/2442A4EE00000578-2887019-image-m-23_1419525823913.jpg);}




.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
        .wrapper {padding: 20px 20px;}
}

.number{
  display: none;
    font-size: 150px;
    color: #ffffff !important;
    font-family: 'Hind', sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 5;
    right: 0;
    height: 20px;
    cursor: pointer;

}

.text {
  display: none;
    font-size: 20px;
    color: #ffffff !important;
    font-family: 'Hind', sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 10;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;

}

.myH{
   font-size: 80px;
    color: #ffffff !important;
    font-family: 'Hind', sans-serif;
    text-align: center;
}

.aboutUs {
  font-family: 'Hind', sans-serif;
  font-family: 'Hind', sans-serif;
  text-align: center;
  color: white;
}
#interactive {
  color: white;
}
/*Bibliography stuff*/
#photos {
  color: white;
}
#data {
  color: white;
}
.heading3 {
  color: white;
}
/*index stuff*/
#CheckOutGame {
  text-align: center;
  color: white;
}
