body {
	background: #2E2633;
	color: white;
	font-family: 'Hind', sans-serif;
	font-width: 500;
}

#navbar {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 10px;
	background: #DCE9BE; /*change*/
	text-align: right;
	color: #555152; /* change*/
	width: auto;
	height: auto;
	/*display: block;*/
	font-family: 'Hind', sans-serif;
	font-width: 500;
}

.logo1 {
	display: inline;
	padding-left: 8%;
	width: auto;
}

.logo2{
	display:block;
	padding-left:20%;
}

.logodos {
	padding-right: 12%;
	width: auto;
    display: inline;
}

#oxfam {
    width:auto;
    display: inline;
}

a:link {
	text-decoration: none;
	color: #555152;
}

a:visited {
	color: #555152;
}

.wrapper {
    padding: 50px 50px;
    max-width: 1200px;
    text-align: center;
    margin-left: 75px;
    margin-right: 15px;
        margin-top: 50px;
}

.right {float: center !important;}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 90%;
    margin: 20px;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url(https://www.worldvision.org/core2/sites/default/files/styles/prime_carousel_image/public/d220-0244-168_710972.jpg);
 ;}
.bg-two {background-image: url(http://fair.org/wp-content/uploads/2015/09/Syrian-refugees-landing.jpg);}
.bg-three {background-image: url(http://i.dailymail.co.uk/i/pix/2014/12/25/2442A63A00000578-2887019-image-m-20_1419525768194.jpg);}
.bg-four {background-image: url(http://i.dailymail.co.uk/i/pix/2014/12/25/2442A4EE00000578-2887019-image-m-23_1419525823913.jpg);}
/*.bg-five {background-image: url(http://www.travelandleisure.com/sites/default/files/styles/tnl_redesign_article_landing_page/public/1453920892/DUBAI-554088081-ABOVE0116.jpg?itok=dcoZnCrc);}
.bg-six {background-image: url(http://blog.whitepages.com/wp-content/uploads/2015/04/san-franc.jpg);}*/


/*a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: 'Hind', sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}
*/
.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
        .wrapper {padding: 20px 20px;}
}

.number{
	display: none;
    font-size: 150px;
    color: #ffffff !important;
    font-family: 'Hind', sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 5;
    right: 0;
    height: 20px;
    cursor: pointer;

}

.text {
	display: none;
    font-size: 20px;
    color: #ffffff !important;
    font-family: 'Hind', sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 10;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;

}

h1{
	 font-size: 80px;
    color: #ffffff !important;
    font-family: 'Hind', sans-serif;
    text-align: center;
}